@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');


:root {
    --main-bg-light: rgba(242,242,242,1);
    --main-bg-dark: rgba(13,13,13,1);
    --main-palette-1: rgba(191,191,191,1);
    --main-palette-2: rgba(140,140,140,1);
    --main-palette-3: rgba(64,64,64,1);
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--main-palette-3);
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1524090485940-4ded7244c483?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2143&q=80);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

audio {
    border-style: solid;
    border-width: 2px;
    border-color: var(--main-palette-2);
    border-radius: 20px;
    padding: 10px;
    background-color: var(--main-bg-light);
    width: 40vw;
}

/* Loader Animation */
.loader {
    border: 16px solid var(--main-bg-light); /* Light grey */
    border-top: 16px solid var(--main-palette-3); /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
    margin-left: 45vw;
    z-index: 10;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* Menu Icon Styling */
.container-menu-icon {
    position:fixed;
    display: inline-block;
    flex-direction: column;
    cursor: pointer;
    margin-top: 2.5vh;
    margin-left: 95vw;
    z-index: 10;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  /* Sidebar Styling */

.sideBar-Year {
    background-color: var(--main-bg-dark);
    display:flex;
    flex-direction: column;
    margin-left: 0;
    height: 100vh;
    position: fixed;
    width:10vw;
    z-index: 10;
    overflow-y: scroll;
    scrollbar-width: none;
}

.sideBar-Date {
    background-color: var(--main-bg-dark);
    display:flex;
    flex-direction: column;
    margin-left: 10vw;
    height: 100vh;
    position: fixed;
    width:10vw;
    z-index: 10;
    overflow-y: scroll;
    scrollbar-width: none;
}

.sideBar-Show {
    background-color: var(--main-bg-dark);
    display:flex;
    flex-direction: column;
    margin-left: 20vw;
    height: 100vh;
    position: fixed;
    width:40vw;
    z-index: 10;
    overflow-y: scroll;
    scrollbar-width: none;
}

.sideBar-Setlist{
    background-color: var(--main-bg-dark);
    display:flex;
    flex-direction: column;
    margin-left: 60vw;
    height: 100vh;
    position: fixed;
    width:40vw;
    z-index: 10;
    overflow-y: scroll;
    scrollbar-width: none;
}

.sideBar-LoadedSongs{
    background-color: var(--main-bg-dark);
    display:flex;
    flex-direction: column;
    margin-left: 80vw;
    margin-top:20vh;
    position: fixed;
    width:19vw;
    overflow-y: auto;
    padding: 10px;
    height: 60vh;
}

.slide-out{
    animation: slide-out 3s linear 3s both;
}

  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-out {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }


.sideBar-hidden {
    display:none;
}

.sideBarItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-light);
    margin: 2%;
    width: 90%;
    height: 10%;
    font-family: 'Metamorphous', cursive;
    font-size: 1.75em;
    border-radius: 10px;
    cursor: pointer;
}

.sideBarItemDate {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-light);
    margin: 2%;
    width: 90%;
    font-family: 'Metamorphous', cursive;
    font-size: 1.25em;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.sideBarItemShow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-light);
    margin: 2%;
    width: 90%;
    font-family: 'Metamorphous', cursive;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.sideBarItemShowTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-dark);
    color: var(--main-bg-light);
    margin: 2%;
    width: 90%;
    height: 10%;
    font-family: 'Metamorphous', cursive;
    font-size: 1.2em;
    border-radius: 10px;
}

.sideBarItemSetlist {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--main-bg-dark);
    color: var(--main-bg-light);
    margin: 1%;
    width: 90%;
    /* height: 10%; */
    font-family: 'Metamorphous', cursive;
    font-size: 1.2em;
    border-radius: 10px;
}

.sideBarItem:hover{
    transform: scale(1.1);
    /* transform: translateY(-5px); */
}

.sideBarItemDate:hover{
    transform: scale(1.05);
    /* transform: translateY(-5px); */
}

.sideBarItemShow:hover{
    transform: scale(1.05);
    /* transform: translateY(-5px); */
}

/* Audio Content Container */

.audio-container {
   
}

.audioContent {
    /* overflow-y: scroll; */
    height: 60vh;
    width: 30vw;
}

.audioButton {
    width: 10vw;
    height:5vh;
    font-family: 'Metamorphous', cursive;
    font-size: 1.5em;
    border-radius: 10px;  
}

.audioButton:hover {
    transform: scale(1.1);
}

.song {
    background-color: var(--main-bg-light);
    font-size: 15px;
    font-family: 'Metamorphous', cursive;
    padding: 3px;
    margin: 1px 5px 1px 5px;
    width:22rem;
    max-width: 90%;
    border-style: solid;
    border-width: 2px;
    border-color: var(--main-palette-2);
    text-align: left;
}

.song:hover {
    transform: scale(1.025);
    color: var(--main-bg-dark);
    cursor: pointer;
    background-color: var(--main-palette-1);
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
}


.container-item{
    margin: auto;
    margin-top:10px;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-item-hidden{
    display:none;
}


.archiveHTML {

    background-color: var(--main-bg-light);
    font-size: 5em;
    font-family: 'Metamorphous', cursive;
    border-radius: 20px;
    padding: 1.5rem;
    border-style: solid;
    border-width: 2px;
    border-color: var(--main-palette-2);
    
} 

.displayTitle {
    background-color: var(--main-bg-light);
    font-size: 1.8em;
    font-family: 'Metamorphous', cursive;
    border-radius: 10px;
    padding:10px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--main-palette-2);
    width: 45vw;
    text-align: center;
}

.displayTitle:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.displayText {
    font-size: 0.5em;
    text-align: center;
    padding: 5px;
}

/* Mobile Response */

/* Media Query: Ipad and Tablet */
@media screen and (max-width: 1100px){
    .archiveHTML {
        font-size: 2em;
    }
}

/* Media Query: Large Smartphone */
@media screen and (max-width: 600px){
    
    .container {
        margin:auto;
    }
    .archiveHTML {
        font-size: 1.25em;
    }

    .displayTitle {
        font-size: 1.25em; 
        width: auto;
        margin:auto;
    }

    .song {
        font-size: 0.5em;
        padding: 5px;
        margin:auto;
        width: auto;
        transform: scale(1.0);
    }
    .song:hover {
        transform: scale(1.1);
    }
}

/* Media Query: Small Smartphone */
@media screen and (max-width: 300px){
    .archiveHTML {
        font-size: 1.0em;
    }
    .displayTitle {
        font-size: 0.75em; 
        width:200px;
    }
    audio{
        width:250px;
    }
}



